@font-face {
    font-family: 'Unit';
    src: url('Unit-Medium.woff2') format('woff2'),
        url('Unit-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

